@use '../variables'as *;
@use '../mixins'as *;

.form {
  margin-bottom: 2.5rem;

  &__details,
  &__message,
  &__alert {
    h2 {
      margin-bottom: 0.5rem;
    }

    .instructions {
      margin-bottom: 2.5rem;

      &::after {
        @include line-after;
      }
    }

    @media screen and (min-width: 48em) {
      width: 23.3125rem;
      margin-left: 4.875rem;
    }

    @media screen and (min-width: 67.9375em) {
      width: auto;
      max-width: 66.5rem;
      margin: 0 8.625rem;
    }
  }

  &__row {
    margin-bottom: 2rem;
    position: relative;

    & small {
      position: absolute;
      top: 3px;
      right: 0;
    }

    @media screen and (min-width: 67.9375em) {
      flex-grow: 1;

      &:last-child {
        margin-left: 1rem;
      }
    }
  }

  &__label {
    display: block;
    font-weight: $f-bold;
    margin-bottom: 1rem;
  }

  &__input {
    box-sizing: border-box;
    border: 1px solid $text;
    color: $text;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 1rem;
    width: 100%;

    &--big {
      height: 10rem;
      padding-top: 1rem;
    }

    &:valid {
      outline-color: $success;
      border: 2px solid $success;
    }

    &:invalid {
      outline-color: $error;
      border: 2px solid $error;
    }
  }

  &__format {
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }

  &__message {
    margin-top: 4rem;
    position: relative;

    @media screen and (min-width: 67.9375em) {
      & .form__row {
        margin-left: 0;
      }
    }
  }

  &__btn {
    background-color: $text;
    color: $bg;
    cursor: pointer;
    height: 3rem;
    font-size: 1rem;
    font-weight: $f-bold;
    margin-top: 4.5rem;
    transition: background 300ms ease-in;
    width: 100%;

    &:hover {
      background-color: $success;
      text-decoration: underline;
    }

    @media screen and (min-width: 67.9375em) {
      width: 33.375rem;
      margin-left: 8.625rem;
    }
  }

  & .fullName,
  & .contact {
    @media screen and (min-width: 67.9375em) {
      @include flex-between-center;
    }
  }

  & .contact {
    align-items: initial;
  }

  &__alert {
    background-color: $error;
    color: $bg;
    padding: 1rem;
  }
}