@use '../variables'as *;

// Header styles
.nav {
  margin-top: 2.5rem;
  margin-bottom: 6rem;

  & .logo {
    font-size: 1.25rem;
    font-weight: $f-medium;

    & img {
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }

  & .menu {
    font-weight: $f-medium;
  }
}

.hero {
  & p {
    font-weight: $f-medium;
    margin-bottom: 2rem;

    &::after {
      background-color: $text;
      content: '';
      display: block;
      height: 1px;
      width: 32px;
      margin-top: 8px;
    }
  }

  & h1 {
    font-weight: $f-bold;
    line-height: 1.25;
    margin-bottom: 4.5rem;
  }
}