@use './variables'as *;

// Root styles
:root {
  font-size: 100%;
  line-height: 1.5;

  @media screen and (min-width: 67.9375em) {
    font-size: 112.5%;
  }
}

// Body styles
body {
  background-color: $bg;
  font-family: $f-family;
  margin: 0;
  padding: 0;
}

// Links styles
a {
  text-decoration: none;
  color: $text;
}

// Headers styles
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
p {
  margin: 0;
}

// Lists styles
ul,
ol {
  li {
    margin-bottom: 1rem;
  }
}

ul {
  li {
    list-style-type: none;
  }
}

// Buttons styles
btn {
  cursor: pointer;
}