@use './variables'as *;

// Container styles
.container {
  width: 80.53%;
  margin: 0 auto;
}

// Flex styles
.flex {
  display: flex;

  &-justify-between {
    justify-content: space-between;
  }

  &-align-center {
    align-items: center;
  }
}