@use './variables'as *;

// Container styles
.container {
  width: 80.53%;
  margin: 0 auto;
}

// Flex styles
.flex {
  display: flex;

  &-justify-between {
    justify-content: space-between;
  }

  &-align-center {
    align-items: center;
  }
}

// Header styles
.nav {
  margin-top: 2.5rem;
  margin-bottom: 6rem;

  & .logo {
    font-size: 1.25rem;
    font-weight: $f-medium;

    & img {
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }

  & .menu {
    font-weight: $f-medium;
  }
}

.hero {
  & p {
    font-weight: $f-medium;
    margin-bottom: 2rem;

    &::after {
      background-color: $text;
      content: '';
      display: block;
      height: 1px;
      width: 32px;
      margin-top: 8px;
    }
  }

  & h1 {
    font-weight: $f-bold;
    margin-bottom: 4.5rem;
  }
}

// Main styles