@use './variables'as *;

@mixin line-after {
  background-color: $text;
  content: '';
  display: block;
  height: 1px;
  width: 32px;
  margin-top: 8px;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}