@use './variables'as *;

.is {

  // Hides element from DOM
  &-hidden {
    display: none;
  }

  // Sets default border for form fields
  &-empty {
    border: 1px solid $text !important;
  }

  // Error message styles
  &-error::after {
    content: attr(data-after);
    position: absolute;
    background-color: $error;
    color: $bg;
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }
}