@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap);

/* 
* COLOURS
*/

$bg: #FAFAFA;
$text: #080808;
$success: #428B7C;
$error: #841C2E;

/* 
* TYPOGRAPHY
*/

$f-family: 'Work Sans',
sans-serif;
$f-regular: 400;
$f-medium: 500;
$f-bold: 700;